@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 11% 10%;
    --foreground: 0 0% 100%;
    --card: 220 11% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 220 11% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 39% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 35% 81%;
    --secondary-foreground: 220 11% 10%;
    --muted: 343 30% 64%;
    --muted-foreground: 0 0% 100%;
    --accent: 12 16% 71%;
    --accent-foreground: 220 11% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 12 16% 71%;
    --input: 12 16% 71%;
    --ring: 142 39% 44%;
    --radius: 0;
    --chart-1: 142 39% 44%;
    --chart-2: 43 35% 81%;
    --chart-3: 343 30% 64%;
    --chart-4: 12 16% 71%;
    --chart-5: 220 11% 10%;
  }

  .dark {
    --background: 220 11% 10%;
    --foreground: 0 0% 100%;
    --card: 220 11% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 220 11% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 39% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 43 35% 81%;
    --secondary-foreground: 220 11% 10%;
    --muted: 343 30% 64%;
    --muted-foreground: 0 0% 100%;
    --accent: 12 16% 71%;
    --accent-foreground: 220 11% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 12 16% 71%;
    --input: 12 16% 71%;
    --ring: 142 39% 44%;
    --chart-1: 142 39% 44%;
    --chart-2: 43 35% 81%;
    --chart-3: 343 30% 64%;
    --chart-4: 12 16% 71%;
    --chart-5: 220 11% 10%;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.mask-image-radial {
  mask-image: radial-gradient(circle, black 40%, transparent 70%);
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 70%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
